<div class="container">
  <h2>Pet Shelter</h2>
  <button class="btn btn-info" [routerLink]="['/add']" >Add an Pet</button>
  <router-outlet></router-outlet>
</div>

<div class="container2">
    <div class="wrapper">
      <div class="ballons">
        <div class="heart">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="animal">
        <div class="ears"></div>
        <div class="body">
          <div class="eyes"></div>
          <div class="nose">
            <span></span>
            <span></span>
          </div>
          <div class="hands">
            <div class="left_hand">
              <span></span>
              <span></span>
            </div>
            <div class="right_hand">
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
        <div class="legs">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>